*.pyc
*migrations
.idea
req.txt
kk*
src

# Node modules
node_modules/

# Bower components
*bower_components*

# Uglified JavaScript
dist/

# Staticfiles
static_files/

#uploaded files
uploaded_files/

#pyenv
.python-version
