<div ng-if="vm.loggedin == true">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 center-component">
      <p class="lead">Welcome, {{vm.user.name}}!</p>
      <p>{{ vm.activeJob ? "You have one active job" : "You have no jobs" }}</p>
      <p>{{ vm.error ? vm.error : "" }}</p>
    </div>
  </div>
</div>
<div ng-if="vm.loggedin != true">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 center-component">
      <p class="lead">Please log in or register</p>
    </div>
  </div>
</div>
